# ZeptoMail SMTP Configuration
ZEPTO_EMAIL_HOST=smtp.zeptomail.com
ZEPTO_EMAIL_PORT=465
ZEPTO_EMAIL_HOST_USER=emailapikey
ZEPTO_EMAIL_HOST_PASSWORD=your_zepto_mail_smtp_password_here
DEFAULT_FROM_EMAIL=noreply@xpressbyte.ng

# Django Configuration
DEBUG=True
SECURE_SSL_REDIRECT=False
